#qdExt_quickButton {
	opacity: 0.4;
	height: 16px;
	width: 16px;
	background-size: 16px;
	color: #000000;
	padding: 0px;
	z-index: 9998;
	border-radius: 2px;
	background-image: url(/img/icon.png);
	position:absolute;
}

#qdExt_quickButton:hover {
	opacity: 1;
}

#qdExt_cover {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	z-index: 9999;
}
#qdExt_quickPopup {
	height: 240px;
	width: 360px;
	position:absolute;
	z-index:10000;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #ededf0;
	resize: both;
}