body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	line-height: 1.3;
	font-size: 0.875rem;
	word-wrap: break-word;
	background-color: #fff;
}

button, input {
	border: 0px;
	border-radius: 2px;
	height: 32px;
	padding: 0 8px;
	font-size: 13px;
	font-weight: 400;
	min-width: 66px;
	width: auto;
}

input:not([type=submit]) {
	color: #0c0c0d;
	border: 1px solid rgba(12, 12, 13, 0.3);
	font-size: 15px;
}

input:not([type=submit]):hover {
	border: 1px solid rgba(12, 12, 13, 0.5);
}

input:not([type=submit]):focus {
	border: 1px solid #0a84ff;
	box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
	outline: 0;
}

button, input[type="submit"] {
	color: #0c0c0d;
	background-color: rgba(12, 12, 13, 0.1);
	text-align: center;
}

button:focus, input[type="submit"]:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
	outline: 0;
}

button:disabled, input[type="submit"]:disabled {
	opacity: 0.4;
}

button:not([disabled]):hover, input[type="submit"]:not([disabled]):hover{
	background: rgba(12, 12, 13, 0.2);
}

button:not([disabled]):active, input[type="submit"]:not([disabled]):active{
	background: rgba(12, 12, 13, 0.3);
}

button.primary, input[type="submit"].primary {
	color: #ffffff;
	background: #0060df;
}

button.primary:not([disabled]):hover, input[type="submit"].primary:not([disabled]):hover{
	background: #003eaa;
}

button.primary:not([disabled]):active, input[type="submit"].primary:not([disabled]):active{
	background: #002275;
}

button.micro, input[type="submit"].micro {
	height: 24px;
	font-size: 11px;
	width: auto;
}

button.red, input[type="submit"].red {
	color: #ffffff;
	background: #d70022;
}

button.red:not([disabled]):hover, input[type="submit"].red:not([disabled]):hover{
	background: #a4000f;
}

button.red:not([disabled]):active, input[type="submit"].red:not([disabled]):active{
	background: #5a0002;
}

#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#header {
	flex: 0;
	padding: 8px 8px 8px 8px;
	background-color: #f9f9fa;
	border-bottom: 1px solid #ededf0;
}

#main {
	flex: 1;
	overflow-y: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: auto;
}

#search {
	margin-bottom: 4px;
}

#searchform {
	display: flex;
}

#searchinput {
	flex: 1;
	margin-right: 4px;
}

#inputframe {
	width: 100%;
}

#searchsubmit {
	flex: 0;
}

#primlang {
	margin-right: 4px;
}

#result {
	padding: 8px;
}

#result #googletranslate {
	text-align: center;
	font-size: 100%;
    line-height: inherit;
	border-left: 6px solid #4286f4;
	border-right: 6px solid #4286f4;
	font-weight: bold;
	padding: 6px;
	color: #5e5e5e;
}

#options, #header_popup {
	display: flex;
}
#languagechooser, languagechooser_popup {
	flex: 1;
}
#languagechooser_popup {
	flex: 0 0 auto;
	margin-right: 8px;
}

#search_popup {
	flex: 1;
}

#settings {
	flex: 0;
}

#totop {
	position: fixed;
	bottom: 24px;
	right: 24px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #ee5830;
	color: white;
	cursor: pointer;
	opacity: 0.1;
	font-size: 10px;
}

#totop:hover {
	background-color: #dc1515;
	opacity: 1;
}