/* WIKI PARSE STYLE */

.qdExt_result a.new,
.qdExt_result a.new:visited,
.qdExt_result a.new:hover {
	color: #cc0000;
}

.qdExt_result hr {
	display: none;
}

.qdExt_result p {
	margin: 0;
	padding: 0.17em;
}

.qdExt_result #toc {
	font-size: x-small;
	padding: 4px;
}

.qdExt_result #toc ul {
	margin: 0;
}

.qdExt_result .toctitle,
.qdExt_result .toclevel-2,
.qdExt_result .tocnumber,
.qdExt_result .noprint,
.qdExt_result .wikitable {
	display: none;
}

.qdExt_result .toclevel-1 {
	display: inline-block;
	list-style-type: none;
}

.qdExt_result .toclevel-1 a {
	padding: 1px 4px;
}

.qdExt_result .toclevel-1 a:hover {
	background: #ee5830;
	color: white;
}

.qdExt_result #rank {
	display: none;
}

.qdExt_result .mw-editsection {
	display: none;
}

.qdExt_result .mw-body-content h3 {
	font-size: 1.2em;
}

.qdExt_result dt {
	font-weight: bold;
	margin-bottom: 0.1em;
}

.qdExt_result dl {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

.qdExt_result li {
	margin-bottom: 0.1em;
}

.qdExt_result .mw-body-content h3,
.qdExt_result .mw-body-content h4 {
	font-weight: bold;
}

.qdExt_result .mw-body-content h3 {
	font-size: 1.2em;
}

.qdExt_result .mw-body-content h3,
.qdExt_result .mw-body-content h4,
.qdExt_result .mw-body-content h5,
.qdExt_result .mw-body-content h6 {
	line-height: 1.6;
	margin-top: 0.3em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.qdExt_result h3,
.qdExt_result h4,
.qdExt_result h5 {
	margin-bottom: 0.3em;
}

.qdExt_result h3 {
	font-size: 128%;
}
.qdExt_result h1,
.qdExt_result h2,
.qdExt_result h3,
.qdExt_result h4,
.qdExt_result h5,
.qdExt_result h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding: 0.17em;
	/*border-bottom: 1px solid #a2a9b1;*/
}

.qdExt_result h2 {
	text-align: center;
	font-size: 150%;
	line-height: inherit;
	border-left: 6px solid #dc1515;
	border-right: 6px solid #dc1515;
	font-weight: bold;
	text-transform: uppercase;
	color: #ee5830;
	margin: 4px 0;
}

.qdExt_result h3 {
	font-size: 120%;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
	color: #00a9ec;
}

.qdExt_result h3 a {
	color: #00a9ec;
}

.qdExt_result h4 {
	font-size: 110%;
	line-height: inherit;
	font-weight: bold;
	text-transform: uppercase;
}

.qdExt_result h5 {
	font-size: 90%;
	line-height: inherit;
}

.qdExt_result h6 {
	font-size: 80%;
	line-height: inherit;
}

.qdExt_result .mw-content-ltr ul,
.qdExt_result .mw-content-rtl .mw-content-ltr ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

.qdExt_result ul {
	list-style-type: disc;
	list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22…%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAIAAADuXjPfAAAABnRST…t9AAAAHklEQVR4AWP4jwrowWcI6oEgEBtIISNCfFT9mOYDACO/lbNIGC/yAAAAAElFTkSuQmCC) \9;
}

.qdExt_result ul {
	list-style-type: square;
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

.qdExt_result ol,
.qdExt_result ul {
	margin: 0.3em 0 0 3.2em;
	padding: 0;
}

.qdExt_result a:visited {
	color: #0645ad;
}

.qdExt_result a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}

.qdExt_result .external {
	background-position: center right;
	background-repeat: no-repeat;
	background-image: url(/img/external.png);
	padding-right: 13px;
}

.qdExt_result audio.kskin {
	width: 120px !important;
}

.qdExt_result .mediaContainer {
	width: 120px !important;
}